
html {
    overflow: hidden;
    font-size: 15px;
    font-family: sans-serif;
    line-height: 1.9
}

@media screen and (min-width: 530px) {
    html {
        font-size: 16px;
        color: #444
    }
}

body {
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: 100%
}

svg {
    overflow: hidden
}

.container {
    /*max-width: 1066px;
    margin: 0 auto*/
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
